<section class="form-section">
    <div>
      <h3>Quer Impressionar Seus Clientes?</h3>
      <p>Ligue para nós para suporte rápido neste número.</p>
      <h4>(17) 99613-2110</h4>
    </div>
    <form>
      <div class="input-group">
        <label for="name" placeholder="Nome">Nome</label>
        <input id="name" />
        <br>
        <label for="email">Email</label>
        <input id="email" placeholder="Email" />
      </div>
      <app-btn-primary  btn-text="ENVIE SUA MENSAGEM"></app-btn-primary>
    </form>
  </section>
  