<footer>
   <div id="footer-content">
      <div id="footer-contacts">
         <h1>📴Dital Era</h1>
         <p>Nos siga = siga os seus sonhos.</p>
         <div id="footer-social-media">
            <a href="https://www.instagram.com/" class="footer-link" id="instagram">
               <img src="../../../assets/instagram.svg" alt="Instagram icon" class="social-media-icon">
            </a>
            <a href="https://github.com/" class="footer-link" id="github">
               <img src="../../../assets/github.svg" alt="GitHUB icon" class="social-media-icon">
            </a>
            <a href="https://www.linkedin.com/in/arthur-gutierrez-de-oliveira-dev2110/?originalSubdomain=br" class="footer-link" id="linkedin">
               <img src="../../../assets/linkedin.svg" alt="Linkedin icon" class="social-media-icon">
            </a>
         </div>
      </div>
      <ul class="footer-list">
         <li>
            <h3>Links Rápidos</h3>
         </li>
         <li>
            <a href="#" class="footer-link">Inicio</a>
         </li>
         <li>
            <a href="#statisc" class="footer-link">Beneficios</a>
         </li>
      </ul>
      <ul class="footer-list">
         <li>
            <h3>Contato</h3>
         </li>
         <li>
            <span class="footer-text">+17 99613-2110</span>
         </li>
         <li>
            <span class="footer-text">arthur.gutierrez&#64;hotmail.com</span>
         </li>
         <li>
            <a href="#forms" class="footer-link">Enviar mensagem</a>
         </li>
      </ul>
      <ul class="footer-list">
         <li>
            <h3>Políticas</h3>
         </li>
         <li>
            <a routerLink="/terms-of-use" class="footer-link">Termos de uso</a>
         </li>
         <li>
            <a routerLink="/privacy-policy" class="footer-link">Políticas de Privacidade</a>
         </li>
      </ul>
   </div>
   <div id="footer-copyright">
      &#169;
      Desenvolvido por Arthur Gutierrez de Oliveira
   </div>
</footer>