nav {
  background-color: #ebf6ff;
}

.navbar img {
  width: 50px;
  height: auto;
}

.nav-link {
  font-size: 14.5px !important;
  font-weight: 500 !important;
}

.footer-link {
  text-decoration: none;
  color: #212529;
}

.offcanvas-body button:hover {
  transition: 0.3s !important;
}
