<app-header></app-header>

<main class="container d-flex flex-column gap-3" style="margin-top: 72px; margin-bottom: 72px;">
   <div class="privacy-policy">
      <h3>1. Informações que Coletamos</h3>
      <br>
      <h6>Quando você se inscreve na nossa lista de e-mails, preenche formulários ou interage com nossa landing page,
         podemos coletar as seguintes informações:</h6>
      <br>
      <ul>
         <li>
            <strong>Dados Pessoais:</strong> Nome, endereço de e-mail, número de telefone, entre outros.
         </li>
         <li>
            <strong>Dados de Navegação:</strong> Informações sobre o seu dispositivo e navegação, como endereço IP, tipo
            de
            navegador, páginas visitadas e o tempo gasto em cada página.
         </li>
         <li>
            <strong>Cookies e Tecnologias Semelhantes:</strong> Utilizamos cookies e outras tecnologias para melhorar
            sua
            experiência, analisar o tráfego do site e personalizar o conteúdo.
         </li>
      </ul>
   </div>

   <div class="privacy-policy">
      <h3>2. Como Usamos Suas Informações</h3>
      <br>
      <h6>Utilizamos suas informações para:</h6>
      <br>
      <ul>
         <li>
            <strong>Comunicação:</strong> Enviar newsletters, atualizações e ofertas relacionadas aos nossos produtos e
            serviços.
         </li>
         <li>
            <strong>Melhoria dos Nossos Serviços:</strong> Analisar dados de navegação para melhorar a funcionalidade e
            o conteúdo da nossa página.
         </li>
         <li>
            <strong>Personalização:</strong> Personalizar a sua experiência com base nas suas preferências e
            comportamento.
         </li>
      </ul>
   </div>

   <div class="privacy-policy">
      <h3>3. Compartilhamento de Informações</h3>
      <br>
      <h6>Não vendemos, trocamos ou alugamos suas informações pessoais para terceiros. No entanto, podemos compartilhar
         suas informações com:</h6>
      <br>
      <ul>
         <li>
            <strong>Prestadores de Serviços:</strong> Terceiros que auxiliam na operação do nosso site ou na execução de
            nossos serviços, como plataformas de e-mail marketing e análise de dados.
         </li>
         <li>
            <strong>Obrigação Legal:</strong> Quando exigido por lei ou para proteger nossos direitos e segurança.
         </li>
      </ul>
   </div>

   <div class="privacy-policy">
      <h3>4. Segurança</h3>
      <br>
      <h6>Implementamos medidas de segurança para proteger suas informações contra acesso não autorizado, alteração,
         divulgação ou destruição. No entanto, nenhuma transmissão de dados pela internet ou sistema de armazenamento é
         100% seguro.</h6>
   </div>

   <div class="privacy-policy">
      <h3>5. Seus Direitos</h3>
      <br>
      <h6>Você tem o direito de:</h6>
      <br>
      <ul>
         <li>
            <strong>Acessar e Atualizar:</strong> Suas informações pessoais.
         </li>
         <li>
            <strong>Optar por Não Receber Mais Comunicações:</strong> Clicando no link de cancelamento de assinatura em
            nossos e-mails.
         </li>
         <li>
            <strong>Solicitar a Exclusão:</strong> De suas informações pessoais, desde que não sejam necessárias para
            cumprimento de obrigações legais.
         </li>
      </ul>
   </div>

   <div class="privacy-policy">
      <h3>6. Links para Sites de Terceiros</h3>
      <br>
      <h6>Nossa landing page pode conter links para sites de terceiros. Não somos responsáveis pelas práticas de
         privacidade desses sites. Recomendamos que você leia as políticas de privacidade de qualquer site para o qual
         você navegue.</h6>
   </div>

   <div class="privacy-policy">
      <h3>7. Alterações na Política de Privacidade</h3>
      <br>
      <h6>Poderemos atualizar esta Política de Privacidade periodicamente para refletir mudanças em nossas práticas ou
         para cumprir exigências legais. Recomendamos que você revise esta política regularmente para estar informado
         sobre como estamos protegendo suas informações.</h6>
   </div>
</main>

<app-footer></app-footer>