<app-header></app-header>

<main class="container d-flex flex-column gap-3" style="margin-top: 72px; margin-bottom: 72px;">
   <div class="terms">
      <h3>1. Aceitação dos Termos</h3>
      <br>
      <h6>Ao usar nossa landing page, você concorda com estes Termos de Uso e com nossa Política de Privacidade. Estes
         termos podem ser alterados periodicamente, e é sua responsabilidade revisar esta página regularmente para se
         manter informado sobre quaisquer alterações.</h6>
   </div>

   <div class="terms">
      <h3>2. Uso do Site</h3>
      <br>
      <h6>Você concorda em usar nossa landing page apenas para fins legais e de acordo com todas as leis e regulamentos
         aplicáveis. É proibido usar o site para:</h6>
      <br>
      <ul>
         <li>
            <strong>Atividades Ilegais:</strong> Qualquer uso que viole leis locais, estaduais, nacionais ou
            internacionais.
         </li>
         <li>
            <strong>Atividades Prejudiciais:</strong> Transmitir vírus ou outras tecnologias prejudiciais.
         </li>
         <li>
            <strong>Conduta Abusiva:</strong> Assediar, abusar ou ameaçar outros usuários.
         </li>
      </ul>
   </div>

   <div class="terms">
      <h3>3. Propriedade Intelectual</h3>
      <br>
      <h6>Todo o conteúdo da nossa landing page, incluindo textos, gráficos, logotipos, imagens e software, é de
         propriedade da [Nome da Empresa] ou de seus licenciadores e está protegido por direitos autorais e outras leis
         de
         propriedade intelectual. Você não pode copiar, reproduzir, distribuir ou criar trabalhos derivados sem nossa
         autorização expressa.</h6>
   </div>

   <div class="terms">
      <h3>4. Links para Sites de Terceiros</h3>
      <br>
      <h6>Nossa landing page pode conter links para sites de terceiros. Estes links são fornecidos apenas para sua
         conveniência e não implicam nossa aprovação ou responsabilidade pelo conteúdo dos sites vinculados.
         Recomendamos
         que você leia os termos de uso e políticas de privacidade de qualquer site para o qual você navegue.</h6>
   </div>

   <div class="terms">
      <h3>5. Isenção de Garantias</h3>
      <br>
      <h6>Nossa landing page é fornecida "no estado em que se encontra" e "conforme disponível", sem garantias de
         qualquer
         tipo, expressas ou implícitas. Não garantimos que o site estará disponível de forma ininterrupta ou livre de
         erros, ou que quaisquer defeitos serão corrigidos.</h6>
   </div>

   <div class="terms">
      <h3>6. Limitação de Responsabilidade</h3>
      <br>
      <h6>Em nenhuma circunstância, [Nome da Empresa] será responsável por quaisquer danos diretos, indiretos,
         incidentais,
         especiais ou consequenciais, ou por qualquer perda de lucros, receitas ou dados, resultantes do uso ou da
         incapacidade de usar nossa landing page.</h6>
   </div>

   <div class="terms">
      <h3>7. Modificações dos Termos</h3>
      <br>
      <h6>Poderemos modificar estes Termos de Uso a qualquer momento, sem aviso prévio. As alterações entram em vigor
         quando publicadas nesta página. É sua responsabilidade revisar periodicamente esta página para se manter
         informado
         sobre quaisquer alterações.</h6>
   </div>

   <div class="terms">
      <h3>8. Rescisão</h3>
      <br>
      <h6>Reservamo-nos o direito de suspender ou encerrar seu acesso ao site a qualquer momento, sem aviso prévio, por
         qualquer motivo, incluindo violação destes Termos de Uso.</h6>
   </div>

   <div class="terms">
      <h3>9. Lei Aplicável</h3>
      <br>
      <h6>Estes Termos de Uso são regidos pelas leis do [Seu Estado/País], sem considerar conflitos de princípios
         legais.
         Qualquer disputa relacionada a estes Termos de Uso será resolvida nos tribunais competentes do [Seu
         Estado/País].
      </h6>
   </div>
</main>
<app-footer></app-footer>