<app-header></app-header>
<main>
  <section class="main-section">
    <div class="headline">
      <h1>
        Digital <br />
        marketing
      </h1>
      <img id="vetor" src="./assets/vetor-w.png" width="22" height="16.5" />
      <br />
      <span>
        Extraia o verdadeiro valor comercial das mídias sociais. Garantindo o
        melhor retorno sobre o investimento para as suas necessidades
        específicas de campanha de SEO.
      </span>
      <br />
      <app-btn-primary btn-text="CONTACT TODAY"></app-btn-primary>
    </div>
    <div class="imagensHome" style="background-color: red">
      <img
        class="imagemPessoas"
        src="./assets/mulherAmarela.png"
        width="40"
        height="20.5"
      />
      <img
        class="imagemPessoas"
        id="homemRosa"
        src="./assets/homemRosa.png"
        width="40"
        height="20.5"
      />
      <img
        class="imagemPessoas"
        id="mulherAzul"
        src="./assets/mulherAzul.png"
        width="40"
        height="20.5"
      />
      <img
        class="imagemPessoas"
        id="foguete"
        src="./assets/foguete.png"
        width="10"
        height="10.5"
      />
      <img
        class="imagemPessoas"
        id="traco"
        src="./assets/traco.png"
        width="10"
        height="10.5"
      />
      <img
        class="imagemPessoas"
        id="lampada"
        src="./assets/lampada.png"
        width="10"
        height="10.5"
      />
    </div>
  </section>
  <section class="benefit-section">
    <div class="benefit-data">
      <h2>
        <b>+{{ contador }}%</b>
      </h2>
      <span class="subtitle">Quantidade de Investimentos em 2022</span>
      <br />
      <h2>
        <b>+{{ clientes }}K</b>
      </h2>
      <span class="subtitle">Clientes Satisfeitos da Ewebot</span>
      <br />
      <h2>
        <b>+{{ investimentos }}M</b>
      </h2>
      <span class="subtitle">Quantidade de Investimentos em 2023</span>
      <br />
    </div>
  </section>
  <section class="secundary-section">
    <div class="secundary-dataEngine">
      <img src="./assets/iconePrimeiro.png" width="22" height="16.5" />
      <h2 class="title">Otimização para Mecanismos de Busca.</h2>
      <span class="subtitle">
        O marketing digital aumenta as vendas em até 75%.
      </span>
    </div>
    <div class="secundary-dataMedia">
      <img src="./assets/iconeSegundo.png" width="22" height="16.5" />
      <h2 class="title">Estratégia de Mídias Sociais.</h2>
      <span class="subtitle"
        >A mídia fortalece o marketing digital, aumentando o alcance em
        60%.</span
      >
    </div>
    <div class="secundary-dataAnalytics">
      <img src="./assets/iconeTerceiro.png" width="22" height="16.5" />
      <h2 class="title">Relatórios e Análise</h2>
      <span class="subtitle"
        >O funil de vendas digital otimiza cada etapa, elevando a conversão em
        45%.</span
      >
    </div>
  </section>
  <section class="medium-section">
    <div class="headline">
      <img src="./assets/mulherVetor.png" width="22" height="16.9" />
      <h1 id="textoCima">Marketing é Estratégia</h1>
      <h1 id="textoBaixo">Multiplique suas Vendas</h1>
    </div>
  </section>
  <app-newsletter-form></app-newsletter-form>
</main>
